@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@theme {
   --font-roboto: 'Roboto', sans-serif;
   --color-main: #f5560f;
   --color-main-dark: #ba3202;
   --color-custom-black: #2b061e;
   --color-contrast: #e4b7e5;
}
