@import 'tailwindcss';

@theme {
   --color-main: #f5560f;
   --color-main-dark: #ba3202;
   --color-custom-black: #021827;
   --color-contrast: #4dcaff;
}

* {
   font-family: var(--custom-font-roboto), sans-serif;
}

div#mobile-sidebar-background {
   &.mobile-background-invisible {
      @apply opacity-0;
   }

   &.mobile-background-visible {
      @apply opacity-100;
   }

   &.mobile-background-offscreen {
      @apply -left-full;
   }
   &.mobile-background-onscreen {
      @apply left-0;
   }
}

aside {
   &.mobile-sidebar-open {
      @apply left-0 opacity-100;
   }
   &.mobile-sidebar-closed {
      @apply -left-full opacity-0;
   }
}

ul#floating-contact {
   &.floating-contact-open {
      @apply visible scale-100 opacity-100;
   }
   &.floating-contact-closed {
      @apply invisible scale-75 opacity-0;
   }
}

.svg-to-main {
   filter: brightness(0) saturate(100%) invert(50%) sepia(71%) saturate(5340%)
      hue-rotate(357deg) brightness(99%) contrast(94%);
}
.svg-to-contrast {
   filter: brightness(0) saturate(100%) invert(69%) sepia(49%) saturate(1256%)
      hue-rotate(168deg) brightness(100%) contrast(102%);
}
